doctype
html
    head
        title express-subapps
        link(rel='stylesheet', href='/admin/css/style.css')
    body
        h1 Admin (sub app)
        p Success!
        p
            a(href="/") Base
            &nbsp;|&nbsp;
            a(href="/admin", class="active") Admin
            &nbsp;|&nbsp;
            a(href="/api") API
