<!DOCTYPE html>
<html>
<head>
    <title>express-subapps</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Base</h1>
    <p>Success!</p>
    <p><a href="/" class="active">Base</a> | <a href="/admin">Admin</a> | <a href="/api">API</a></p>
</body>
</html>